/* =============== */
/* global variable: theme colors */
/* =============== */
:root {
    /* light color
     */
    --clr-primary-0: #f0fbea;
    --clr-primary-1: #e1f7d4;
    --clr-primary-2: #c3eeaa;
    --clr-primary-3: #a5e67f;
    --clr-primary-4: #87dd55;
    /* main color */
    --clr-primary-5: #69d52a;
    /* dark color */
    --clr-primary-6: #54aa22;
    --clr-primary-7: #3f8019;
    --clr-primary-8: #2a5511;
    --clr-primary-9: #152b08;
    --clr-primary-10: #0f1e06;


/* greys */
 --clr-grey-1: hsla(98, 47%, 50%);
 --clr-grey-2: hsla(98, 47%, 50%, 0.9);
 --clr-grey-3: hsla(98, 47%, 50%, 0.8);
 --clr-grey-4: hsla(98, 47%, 50%, 0.7);
 --clr-grey-5: hsla(98, 47%, 50%, 0.6);
 --clr-grey-6: hsla(98, 47%, 50%, 0.5);
 --clr-grey-7: hsla(98, 47%, 50%, 0.4);
 --clr-grey-8: hsla(98, 47%, 50%, 0.3);
 --clr-grey-9: hsla(98, 47%, 50%, 0.2);
 --clr-grey-10: hsla(98, 47%, 50%, 0.1);
 --clr-white: #fff;

/* typograph */
--ff-primary: "Combo", system-ui;
--ff-secondary: "Fira Sans", sans-serif;
--ff-accent: "Roboto", sans-serif;

/* effect */
--transition: all 0.3s linear;
--spacing: 0.25rem;
--radius: 0.5rem;
--light-shadow: 0 5px 15px rgba(0,0,0,0.1);
--dark-shadow: 0 5px 15px rgba(0,0,0,0.2);

/* layout */
--nav-height: 4rem;
--content-max: 1170px;

}

/* -------------------- */
/* reset */
/* =============== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--clr-primary-7);
}