* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 80px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* come back later */
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
    text-transform: capitalize;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.navbar {
  background: lightblue;
  height: var(--nav-height);
}

.navbar .logo {
  width: 50px;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .main-menu-list {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar a:hover {
    color: red;
}

/* mobile menu */
.navbar .mobile-menu-items {
  position: absolute;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  background: rgba(154, 192, 204, 0.95);
  text-align: center;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  gap: 2rem;
}

.navbar .mobile-menu-toggle {
  cursor: pointer;
  font-size: 2rem;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu {
  display: none;
}

.fa-bars {
    font-size: 2rem;
}

@media (max-width: 768px) {
  .navbar .main-menu {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }
}
